.headerApp {

    margin-bottom: 10vh;
    z-index: 1;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #002C3B;
}

.logo {
    margin-right: 8vw;
    margin-left: 8vw;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  color: #f6794a;
  margin: 0;
  font-size: 24px;
}

.userArea {
    scale: 1.5;
    margin-right: 8vw;
    margin-left: 8vw;
  display: flex;
  align-items: center;
}
