* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.DocsDocsImg {
  margin-top: 1%;
  width: 25%;
  height: 25%;
}

.Docsbox-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  margin: 9% 15%;
}

.Docssubtitulo {
  margin-top: 1%;
  font-size: 200%;
  font-weight: 400;
  width: 70%;
  letter-spacing: 0.2%;
  color: white;
}

.Docstitulo {
  font-size: 300%;
  margin: 0 0 0.5vw 1vw;
  color: white;
}

.Docsimagem-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2vw;
  right: 40vw;
  width: 40%;
  height: fit-content;
}

.DocsbgImage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -10vw;
  right: 0;
  width: 100%;
  height: 70vw;
  overflow: hidden;
}

.DocsbgImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 1200px) {
  .Docsbox-title {
    margin: 5vw 10vw;
    top: 4vw;
  }

  .Docssubtitulo {
    font-size: 2vw;
    width: 85%;
    margin-top: vw;
  }

  .Docstitulo {
    font-size: 4vw;
    margin-bottom: 1vw;
  }

  .Docsimagem-container {
    top: 13vw;
    right: 2vw;
  }

  .DocsbgImage {
    top: -10vw;
  }

  .DocsDocsImg {
    width: 25%;
    height: 25%;
  }
}


@media (max-width: 800px) {
  .Docsbox-title {
    margin: 2vw 10vw;
    top: 4vw;
  }

  .Docssubtitulo {
    font-size: 2vw;
    width: 85%;
    margin-top: vw;
  }

  .Docstitulo {
    font-size: 5vw;
    margin-bottom: 1vw;
  }

  .Docsimagem-container {
    top: 13vw;
    right: 2vw;
  }

  .DocsbgImage {
    top: -10vw;
  }

  .DocsDocsImg {
    width: 25%;
    height: 25%;
  }
}
